.comment__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment__username {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.comment__message {
    margin-top: -1rem;
    margin-left: 0.4rem;
    font-size: 01rem;
    font-family: 'Courier New', Courier, monospace;
}