.search_box__container {
    display: flex;
    margin-top: 0.6rem;
    gap: 0.5rem;
}
.search_box__container input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}

.search_box__container button {
    outline: none;
    border: none;
    background-color: #121212;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.2rem;
    cursor: pointer;

}