.comment_box__container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

.comment_box__container input {
    outline: none;
    border: 1px groove #121212;
    width: 50%;
    font-size: 1rem;
    padding: 0.2rem;
}

.comment_box__container button {
    outline: none;
    border: none;
    background-color: #121212;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}